@import "./normalize.css";
@import "./vaiables.css";
@import "./fonts.css";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  display: flex;
  object-fit: cover;
}
ol,
ul {
  list-style: none;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-body-2);
  /* line-height: var(--line-height-body-2); */
  color: var(--color-white);
  font-family: "livvic", sans-serif;
  font-weight: 600;
  background-color: var(--color-midnight-green);
  overflow-x: hidden;
}
h1 {
  margin: 0;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-inline: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  font-weight: 600;
  font-size: var(--font-size-body-1);
  line-height: 28px;
  border: 2px solid;
  border-radius: 24px;
  transition: 0.3s;
  padding: 7px 32px 9.8px 31px;
}
.primary--light {
  border-color: var(--color-white);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-white);
    opacity: 25%;
    color: var(--color-dark-green);
  }
}

.secondary-light {
  background-color: var(--color-white);
  color: var(--color-dark-green);
  border-color: var(--color-white);
  &:hover {
    border-color: var(--color-rapture-blue);
    background-color: var(--color-rapture-blue);
    opacity: 25%;
  }
}

.secondary-dark {
  background-color: transparent;
  color: var(--color-sacramento-state-green);
  &:hover {
    background-color: var(--color-sacramento-state-green);
    color: var(--color-white);
    border-color: var(--color-sacramento-state-green);
  }
}
.oreange-text {
  color: var(--color-light-coral);
}
.divider {
  width: 50px;
  height: 4px;
}
.blue-text {
  color: var(--color-rapture-blue);
}
/* header */
#active {
  color: var(--color-light-coral);
}
.header {
  margin-top: 73px;
  margin-bottom: 73px;
}

.header__container {
  display: flex;
}
.logo {
  margin-right: 80px;
}
.logo__img {
}
.navbar {
  margin-right: auto;
}

.navbar__list {
  display: flex;
  gap: 40px;
}

.list__link {
  color: var(--color-white);
}
.scn {
}
.container {
}
.div-container {
}
.scn-name {
}
.marks {
}
.scn-tatil {
}
.cta--div {
}
/* footer */
/* cta */
.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--color-light-coral);
  position: relative;
}
.container {
}
.cta__container {
  display: flex;
  justify-content: center;
  gap: 260px;
}
.cta-marc5 {
  position: absolute;
  bottom: 0px;
}
.cta--name {
  font-weight: 700px;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-sacramento-state-green);
}
.marc4 {
  position: absolute;
  top: -190px;
  left: -200px;
}

.foot {
  background-color: var(--color-dark-green);
  /* padding: 48px 165px; */
  position: relative;
  /* z-index: 1; */
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer--bra {
  display: flex;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 140px;
}
.container--br {
}
.footer {
  gap: 80px;
}
.logo {
}
.logo__img {
  gap: 120px;
}
.navbar {
}
.navbar--footer {
}
.footer__list {
}
.list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer--titl {
  gap: 40px;
  font-weight: 600px;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  opacity: 60%;
}
.footer-adv {
  padding-top: 51px;
  font-weight: 600px;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  opacity: 60%;
}

.footer--iconc {
  text-align: end;
  word-spacing: 16px;
}
.futer--inc {
  color: var(--color-white);

  &:hover {
    color: var(--color-light-coral);
    transition: 0.05s;
  }
}

.fa-brands {
  display: inline-block;
  font-size: 24px;
}
